NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated physical constraints 

NET "Q[3]" LOC = V15;
NET "Q[2]" LOC = U15;
NET "Q[1]" LOC = V16;
NET "Q[0]" LOC = U16;
NET "D[3]" LOC = M8;
NET "D[2]" LOC = V9;
NET "D[1]" LOC = T9;
NET "D[0]" LOC = T10;
NET "CLK" LOC = B8;
NET "CO" LOC = T11;
NET "MR" LOC = T5;
NET "LOAD" LOC = V8;
NET "EN" LOC = U8;
NET "DATA" LOC = N8;
