

NET "OUTPUT_SEG[7]" LOC = M13;
NET "OUTPUT_SEG[6]" LOC = L14;
NET "OUTPUT_SEG[5]" LOC = N14;
NET "OUTPUT_SEG[4]" LOC = M14;
NET "OUTPUT_SEG[3]" LOC = U18;
NET "OUTPUT_SEG[2]" LOC = U17;
NET "OUTPUT_SEG[1]" LOC = T18;
NET "OUTPUT_SEG[0]" LOC = T17;
NET "OUTPUT_SEL[3]" LOC = P17;
NET "OUTPUT_SEL[2]" LOC = P18;
NET "OUTPUT_SEL[1]" LOC = N15;
NET "OUTPUT_SEL[0]" LOC = N16;


NET "CLK" LOC = V10;

# PlanAhead Generated physical constraints 

NET "STREAM_LED[7]" LOC = T11;
NET "STREAM_LED[6]" LOC = R11;
NET "STREAM_LED[5]" LOC = N11;
NET "STREAM_LED[4]" LOC = M11;
NET "STREAM_LED[3]" LOC = V15;
NET "STREAM_LED[2]" LOC = U15;
NET "STREAM_LED[1]" LOC = V16;
